@using Hex.ExampleWebsite.ViewModels.Html5

@model DateViewModel

@{
    ViewBag.Title = "Html5 - Date";
}

<h2>@ViewBag.Title</h2>

@using( Html.BeginForm() )
{
	<span>Date:</span>@Html.DateFor( x => x.Date ) <br />
	<span>Nullable Date:</span>@Html.DateFor( x => x.NullableDate ) <br />
	<span>Date as String:</span>@Html.Date( "DateAsString", this.Model.DateAsString )<br />

	<input type="submit" value="Submit" />
}