@using Hex.ExampleWebsite.ViewModels.Html5

@model EmailViewModel

@{
    ViewBag.Title = "Html5 - Email";
}

<h2>@ViewBag.Title</h2>

@using( Html.BeginForm() )
{
	<span>Email:</span>@Html.EmailFor( x => x.Email) <br />

	<input type="submit" value="Submit" />
}