@{
    ViewBag.Title = "Hex Example Website";
}

<h2>@ViewBag.Title</h2>

@using( Html.BeginActionLink( "Index" ) )
{
	<span>This is a test to see if I can put <strong>ANY</strong> HTML inside of a link tag and have it render correctly.</span>
}
<br />

@using( Ajax.BeginActionLink( "Index", new AjaxOptions() ) )
{
	<span>This is a test to see if I can put <strong>ANY</strong> HTML inside of a ajax link tag and have it render correctly.</span>
}